/********

File name: Mixins

Discription: Functions and mixins to be used for the project. 

********/

//--------Fonts--------//
%primaryFont {
	font-family: "Helvetica", "Arial", sans-serif;
	font-style: normal;
	font-weight: 100;
}