/********

File name: _gallery.scss

Discription: Media Queries for the _gallery.scss file

Notes: Look for css tricks for creating a Masonry Gallery...

********/



@media only screen and (min-width: $tablet-width) {
	.gallery_archive {
		column-count: 3;
	}
}

@media only screen and (min-width: $desktop-width) {
	.gallery_archive {
		column-count: 4;
	}
}