/********

File name: _contact.scss

Discription: Styles for the contact me section of the site.

********/

section.contact_info {
	background: $color2;
	color: $color1;
	height: 500px;
	padding: 0 5em;

	a {
		color: $color1;
		text-decoration: none;
		background-color: transparent;
		
		&:hover,
		&:active,
		&:focus {
			color: darken($color1, 15%);
		}

		&:hover,
		&:active {
			outline: 0;
		}
	}
}