/********

File name: _gallery.scss

Discription: Custom styles for Digital Portfolio's default gallery.

********/

.masonry-container,
.masonry-item {
	width: $hundred;

}

.masonry-container {
	background: $color1;
}


@media only screen and (min-width: $tabletWidth) {

	.mansonry-item {
		width: $hundred/2;
	}

}

@media only screen and (min-width: $desktopWidth) {

	.masonry-item {
		width: $hundred/3;
	}
}